---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">ホーム</a>
    <a href="/about/">概要</a>
    <a href="/blog/">ブログ</a>

    <h1>このブログについて</h1>
    <h2>このブログは、Astroを使って作られています。</h2>

    <p>
      Astroは、静的サイトジェネレータです。静的サイトジェネレータとは、HTMLファイルを生成するツールのことです。
    </p>

    <p>
      Astroを使うと、コンポーネントベースの開発が可能になり、再利用性の高いコードを書くことができます。また、Astroはパフォーマンスに優れており、高速なウェブサイトを構築することができます。
    </p>
  </body>
</html>
